<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <%= image_tag("logo/logo2.png", class: "img-responsive", id: "navbar-logo", size: "180x135") %>  
        </div>

      <ul class="list-unstyled components">
        <p class="dashboard"></p>
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-menu">Puntos de Venta</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Puntos'.html_safe, points_path, class: 'item-list'%>        
            </li> 
            <li>
                <%= link_to '<i class="fa fa-plus"></i> Asignar Equipos'.html_safe, equipment_points_path, class: 'item-list'%>       
            </li> 
          </ul>
        </li>

        <li class="nav-item active">
          <%= link_to '<i class="fa fa-desktop"></i> Equipos'.html_safe, equipment_index_path, class: 'item-list'%>
        </li>
        <li class="nav-item active">
          <%= link_to '<i class="fa fa-desktop"></i> Proveedores'.html_safe, suppliers_path, class: 'item-list'%>
        </li>
        <li class="nav-item active">
          <%= link_to '<i class="fa fa-external-link"></i> Entradas a Bodega'.html_safe , item_entries_path, class: 'item-list'%>
        </li>
        <li class="nav-item active">
          <%= link_to '<i class="fa fa-external-link"></i> Salidas de Bodega'.html_safe , item_outputs_path, class: 'item-list'%>
        </li>
        <% if current_user%>
          <li class="nav-item active">
            <%= link_to '<i class="fa fa-power-off"></i> Cerrar Sesión'.html_safe, destroy_user_session_path, method: :delete%>
          </li>
        <% end %>    
        
      </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
            <% if current_user%>
              <li class="nav-item active email-list">
                <%= current_user.email%>
              </li>
            <% else %>  
              <li class="nav-item active">
                  <%= link_to "Iniciar Sesión", new_user_session_path, class: 'btn btn-success'%>
              </li> 
            <% end %>    
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-all">
      <% if current_user%>
        <h1>Equipos por Punto</h1>
        <div class="card new-comment">
            <div class="card-body">
            <%= form_for @equipment_points.build, remote: true do |f| %>
              <div class="field">
                  <%= f.collection_select(:equipment_id, Equipment.all, :id, :name, prompt: "Seleccione un equipo") %>
              </div> 
              <%= f.label :Marca%>
              <div class="field">
                <%= f.text_field :brand, class: "form-control" %>
              </div>
              <%= f.label :Serial%>
              <div class="field">
                <%= f.text_field :serial, class: "form-control" %>
              </div>
              <%= f.label :Activo_fijo%>
              <div class="field">
                <%= f.text_field :fixed_assets, class: "form-control" %>
              </div>
              <div class="field">
                  <%= f.collection_select(:point_id, Point.all, :id, :name, prompt: "Seleccione un punto") %>
              </div> 
              <div class="modal-footer">
                  <div class="actions">
                      <%= f.submit 'Asignar', class:'btn btn-success'%>
                  </div>
              </div>
            <% end %>
            </div>
        </div>
        <% if @equipment_points.empty? %>
            <li class="list-group-item text-center">Aún no hay equipos asigandos a este punto de venta :(</li>
        <% end %>  
      <% else %>  
      <div class="card">
        <div class="card-body">
          Lo sentimos, no has iniciado sesión
        </div>  
       </div>
      <% end %>
      </div>  
    </div> 
  </div>  
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>  
        