<h1>Editar</h1>
<div class="header-container">
  <%= link_to 'Regresar', points_path, class:'btn btn-primary'%>
</div>
<%= form_with(model: point, local: true) do |form| %>
  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Dirección %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :VPN %>
    <%= form.text_field :vpn %>
  </div>

  <div class="field">
    <%= form.label :CO %>
    <%= form.text_field :co %>
  </div>

  <div class="field">
    <%= form.label :Anydesk %>
    <%= form.text_field :anydesk %>
  </div>

  <div class="field">
    <%= form.label :Isp %>
    <%= form.text_field :isp %>
  </div>

   <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip %>
  </div>

   <div class="field">
    <%= form.label :Máscara_De_Subred %>
    <%= form.text_field :subnet_mask %>
  </div>

   <div class="field">
    <%= form.label :DNS1 %>
    <%= form.text_field :dns1 %>
  </div>

   <div class="field">
    <%= form.label :DNS2 %>
    <%= form.text_field :dns2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
