<div id="myModal" class="modal fade" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.9);" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title-centered">Nuevo Punto</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @point, remote: true do |f| %>
            <% if @point.errors.any? %>
            <div id="card border-0">
                <p><%= pluralize(point.errors.count, "error") %> prohibited this point from being saved:</p>

                <ul>
                <% point.errors.full_messages.each do |message| %>
                    <li class="text-danger"><%= message %></li>
                <% end %>
                </ul>
            </div>
            <% end %>
          
            <div class="form-group row">
              <%= f.label :Nombre, class:"col-sm-2 col-form-label"%>
              <div class="col-sm-10">
                <%= f.text_field :name, class:"form-control"%>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :Dirección, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :address, class:"form-control"%>
              </div>
            </div>
            
            <div class="form-group row">
              <%= f.label :VPN, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :vpn, class:"form-control"%>
              </div>
            </div>
            
            <div class="form-group row">
              <%= f.label :CO, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :co, class:"form-control"%>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :Anydesk, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :anydesk, class:"form-control"%>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :ISP, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :isp, class:"form-control"%>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :IP, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :ip, class:"form-control"%>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :Máscara, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :subnet_mask, class:"form-control"%>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :DNS1, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :dns1, class:"form-control"%>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :DNS2, class:"col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :dns2, class:"form-control"%>
              </div>
            </div>
        

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <div class="actions">
                  <%= f.submit 'Crear', class:'btn btn-success'%>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
