<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <%= image_tag("logo/logo2.png", class: "img-responsive", id: "navbar-logo", size: "180x135") %>  
        </div>

      <ul class="list-unstyled components">
        <p class="dashboard"></p>
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-menu">Puntos de Venta</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Puntos'.html_safe, points_path, class: 'item-list'%>        
            </li> 
            <li>
                <%= link_to '<i class="fa fa-plus"></i> Asignar Equipos'.html_safe, equipment_points_path, class: 'item-list'%>       
            </li> 
          </ul>
        </li>

        <li class="nav-item active">
          <%= link_to '<i class="fa fa-desktop"></i> Equipos'.html_safe, equipment_index_path, class: 'item-list'%>
        </li>
        <li class="nav-item active">
          <%= link_to '<i class="fa fa-desktop"></i> Proveedores'.html_safe, suppliers_path, class: 'item-list'%>
        </li>
        <li class="nav-item active">
          <%= link_to '<i class="fa fa-external-link"></i> Salidas de Bodega'.html_safe , item_outputs_path, class: 'item-list'%>
        </li>
        <% if current_user%>
          <li class="nav-item active">
            <%= link_to '<i class="fa fa-power-off"></i> Cerrar Sesión'.html_safe, destroy_user_session_path, method: :delete%>
          </li>
        <% end %>    
        
      </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
            <% if current_user%>
              <li class="nav-item active">
                  <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "btn btn-danger"%>
              </li>
            <% else %>
              <li class="nav-item active">
                  <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-success"%>
              </li>    
            <% end %>    
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-all">
        <h1><%= @point.name%></h1>
        <div class="header-container">
          <%= link_to 'Editar', edit_point_path(@point), class:'btn btn-info' %> 
          <%= link_to 'Regresar', points_path, class:'btn btn-primary'%>
        </div>

        <h5>
          <strong>Dirección:</strong>
          <%= @point.address %>
        </h5>

        <h5>
          <strong>VPN:</strong>
          <%= @point.vpn %>
        </h5>

        <h5>
          <strong>CO:</strong>
          <%= @point.co %>
        </h5>

        <h5>
          <strong>Anydesk:</strong>
          <%= @point.anydesk %>
        </h5>

        <h5>
          <strong>ISP:</strong>
          <%= @point.isp %>
        </h5>
        
        <h5>
          <strong>IP:</strong>
          <%= @point.ip %>
        </h5>

        <h5>
          <strong>Máscara De Subred:</strong>
          <%= @point.subnet_mask %>
        </h5>

        <h5>
          <strong>DNS1:</strong>
          <%= @point.dns1 %>
        </h5>

        <h5>
          <strong>DNS2:</strong>
          <%= @point.dns2 %>
        </h5>

        <p>
          <button class="btn btn-primary more-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Equipos en PV
          </button>
        </p>

        <div class="collapse" id="collapseExample">

          <div class="dropdown-divider"></div>
          <h3 class="title-page">Equipos en punto:</h3>
          <div class="card-deck equipments-container">
            <% @equipment_point.each do |p_equipment| %>
              <% if p_equipment.point_id == @point.id%>
                
                <div class="card-group">
                  <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= p_equipment.equipment.name%></h5>
                      <p class="card-text">
                        <h6 class="content-card">Activo Fijo: <%= p_equipment.fixed_assets%></h6>
                        
                        <h6 class="content-card">Serial: <%= p_equipment.serial%></h6>
                        
                        <h6 class="content-card">Marca: <%= p_equipment.brand%></h6>
                      </p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted center">Última Actualización: <%= p_equipment.updated_at%></small>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>  
        <!--<div id="add_equipment-modal" style="display:none;"></div>-->
    </div> <!--Container end-->   
  </div>  
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
    
</script>  
