<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <%= image_tag("logo/logo2.png", class: "img-responsive", id: "navbar-logo", size: "180x135") %>  
        </div>

        <ul class="list-unstyled components">
        <p class="dashboard"></p>
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-menu">Puntos de Venta</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Puntos'.html_safe, points_path, class: 'item-list'%>        
            </li> 
            <li>
                <%= link_to '<i class="fa fa-plus"></i> Asignar Equipos'.html_safe, equipment_points_path, class: 'item-list'%>       
            </li> 
          </ul>
        </li>

        <li class="nav-item active">
          <%= link_to '<i class="fa fa-desktop"></i> Equipos'.html_safe, equipment_index_path, class: 'item-list'%>
        </li>
        <li class="nav-item active">
          <%= link_to '<i class="fa fa-external-link"></i> Salidas de Bodega'.html_safe , item_outputs_path, class: 'item-list'%>
        </li>
        <% if current_user%>
          <li class="nav-item active">
            <%= link_to '<i class="fa fa-power-off"></i> Cerrar Sesión'.html_safe, destroy_user_session_path, method: :delete%>
          </li>
        <% end %>    
        
      </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
            <% if current_user%>
              <li class="nav-item active email-list">
                <%= current_user.email%>
              </li>
            <% else %>  
              <li class="nav-item active">
                  <%= link_to "Iniciar Sesión", new_user_session_path, class: 'btn btn-success'%>
              </li> 
            <% end %>    
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-all">
        <h1>Equipos</h1>

        <div class="header-container">
            <% if current_user%>
              <%= link_to 'Nuevo Equipo', new_equipment_path, :remote => true, 'data-toggle' =>  "modal", 'data-target' => 'point-modal', class: 'btn btn-info'%>
            <% end %>  
        </div>

        <div class="table-responsive">
          <table class="table table-md">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @equipment.each do |equipment| %>
                <tr>
                  <td><%= equipment.name %></td>
                  <td><%= equipment.category_equipment.name %></td>
                  <% if current_user %>
                    <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_equipment_path(equipment), class:"btn btn-outline-info" %></td>
                    <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, equipment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger"%></td>
                  <% end %>  
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>  
    </div> 
  </div>  
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>  
