<div id="myModal" class="modal fade" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.9);" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title-centered">Nueva Salida</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            
        <%= form_for @item_output, remote: true do |f| %>
            <% if @item_output.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(item_output.errors.count, "error") %> prohibited this item_output from being saved:</h2>

                  <ul>
                  <% item_output.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
            <% end %>

            <select id="template-example">
              <% @category_equipments.each do |category_equipments| %>
                <option value="<%= category_equipments.id %>"><%= category_equipments.name %></option>
              <% end %>
            </select>

            <div class="field">
                <%= f.label :Cantidad %>
                <%= f.number_field :quantity %>
            </div>
            
            <div class="field">
                <%= f.label :Activo_Fijo%>
                <%= f.number_field :fixed_asset %>
            </div>

            <div class="field">
                <%= f.label :Fecha_De_Salida %>
                <%= f.date_select :departure_date %>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <div class="actions">
                  <%= f.submit 'Crear', class:'btn btn-success'%>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $("#template-example").select2({
    theme: "bootstrap"
  }); 
  
</script>