<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
          <%= image_tag("logo/logo2.png", class: "img-responsive", id: "navbar-logo", size: "180x135") %>  
      </div>

      <ul class="list-unstyled components">
        <p class="dashboard"></p>
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-menu">Puntos de Venta</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Puntos'.html_safe, points_path, class: 'item-list'%>        
            </li> 
            <li>
                <%= link_to '<i class="fa fa-plus"></i> Asignar Equipos'.html_safe, equipment_points_path, class: 'item-list'%>       
            </li> 
          </ul>
        </li>

        <li class="nav-item active">
          <%= link_to '<i class="fa fa-desktop"></i> Equipos'.html_safe, equipment_index_path, class: 'item-list'%>
        </li>
        <li class="nav-item active">
          <%= link_to '<i class="fa fa-external-link"></i> Salidas de Bodega'.html_safe , item_outputs_path, class: 'item-list'%>
        </li>
        <% if current_user%>
          <li class="nav-item active">
            <%= link_to '<i class="fa fa-power-off"></i> Cerrar Sesión'.html_safe, destroy_user_session_path, method: :delete%>
          </li>
        <% end %>    
        
      </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
            <% if current_user%>
              <li class="nav-item active email-list">
                <%= current_user.email%>
              </li>
            <% else %>  
              <li class="nav-item active">
                  <%= link_to "Iniciar Sesión", new_user_session_path, class: 'btn btn-success'%>
              </li> 
            <% end %>      
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-all">
        <h1>Salidas de bodega</h1>
        <div class="header-container">
      
            <%= link_to 'Descargar Excel', new_point_path, class:"btn btn-success"%>
            <%= link_to 'Nueva Salida', new_item_output_path, :remote => true, 'data-toggle' =>  "modal", 'data-target' => 'item_output-modal', class: 'btn btn-info'%>
 
        </div>

        <div class="table-responsive">
          <table class="table table-md">
            <thead>
              <tr>
                <th>Item</th>
                <th>Cantidad</th>
                <th>Destino</th>
                <th>Activo Fijo</th>
                <th>Fecha de salida</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @item_outputs.each do |item_output| %>
                <tr>
                  <td><%= item_output.equipment.name%></td>
                  <td><%= item_output.quantity %></td>
                  <td><%= item_output.point.name%></td>
                  <td><%= item_output.fixed_asset %></td>
                  <td><%= item_output.departure_date %></td>
                  <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, item_output, class:"btn btn-outline-primary" %></td>
                  <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_item_output_path(item_output), class:"btn btn-outline-info" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @item_outputs %>
          <div id="item_output-modal" style="display:none;"></div>
        </div>  
      </div>  
    </div> 
  </div>  
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>

